<h1>Dashboard</h1>
<div class="row">
  <div class="span12">
    <ul>
      <li>
        <%= link_to "Power usage", power_usage_household_path(current_user.household) %>
      </li>
      <li>
        <%= link_to "Gas usage", gas_usage_household_path(current_user.household) %>
      </li>
    </ul>
  </div>
</div>
